
/*
-----------------------------------------
3.   PAGE 2
-----------------------------------------
*/

#page-2 {
	// overflow: hidden;

	@include respond(phone) {
		overflow-y: auto;
	}
}

#risk-priorities {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include respond(phone) {
		height: auto;
		margin: 3rem 0;
	}

	.title {
		text-align: center;

		h3 {
			font-weight: 700;
			font-size: 2rem;
			margin-top: 1rem;
		}
	}

	img.top {
		display: block;
		max-width: 23rem;
		border-radius: 50%;

	}

	.rp-list {
		list-style-type: none;
		padding: 0;
		max-width: 43rem;

		@include respond(phone) {
			max-width: 90%;
			margin: 0 auto;
		}

		li {
			border-radius: 20px;

			.rp-list-item-icon {
				border: 2px solid #fff;
				height: 5rem;
				flex: 0 0 5rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 2rem;
			}

			img {
				display: block;
				max-width: 50%;
			}

			&:nth-child(1) {
				background: $red-1;
			}

			&:nth-child(2) {
				background: $red-2;
			}

			&:nth-child(3) {
				background: $yellow-1;
			}

			&:nth-child(4) {
				background: $yellow-2;
			}

			&:nth-child(5) {
				background: $red-3;
			}

			.rp-list-item {
				display: flex;
				align-items: center;
				margin: 1rem 0;
				padding: .8rem 2rem;
				color: #fff;

				h4 {
					font-size: 2rem;
					font-weight: 600;
				}

				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}

#client-needs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 8rem;
	height: 100%;

	.background {
		background: rgba(#eee, .9);
		padding: 3rem;
		max-width: 40rem;

		@include respond(phone) {
			max-width: 100%;
		}
	}

	.title {
		text-align: center;
		padding-bottom: 1rem;
		max-width: 25rem;
		margin: 0 auto;

		h3 {
			font-weight: 700;
			font-size: 2rem;
		}

		p {
			font-style: italic;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.3;
			margin-top: 0.5rem;
		}
	}

	.cn-list {
		list-style-type: none;
		padding: 0;
		max-width: 40rem;

		.cn-list-item {
			display: flex;
			align-items: center;
			margin: 1rem 0;
			padding: 1rem;
			background: #cdcdcd;

			img {
				display: block;
				max-width: 60%;
			}

			h4 {
				font-size: 1.6rem;
				font-weight: 600;
			}

			p {
				font-size: 1.4rem;
				color: #555;
			}

			.cn-list-item-icon {
				border: 2px solid #fff;
				height: 5rem;
				flex: 0 0 5rem;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 1.4rem;
				background: $red-1;
			}
		}
	}
}

@include respond(phone) {
	.mobile-first {
		order: -1;
	}
}

#page-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	padding: 0 0 6rem 10rem;

	img{
		max-width: 6.5rem;
		padding-bottom: 1rem;
	}

	h2 {
		font-weight: 700;
		color: #fff;
		font-size: 3rem;
	}

	h1 {
		font-weight: 700;
		font-size: 4rem;
		line-height: .5;
	}

	p {
		color: #fff;
		margin-top: 1rem;
		font-size: 1.8rem;
		font-style: italic;
	}

	span {
		font-weight: 600;
		color: #fff;
		font-style: italic;
	}
}

#page-2 #page-title{
	@include respond(phone) {
		display: none;
	}

	@include respond(tab-land) {
		padding: 0 0 6rem 5rem;
	}
}